@model BaiTapLonWeb.Models.CartModel
    <style>
        .bagcart {
            color: white;
            position: absolute;
            top: -33%;
            right: -52%;
        }
      
    </style>
<span class="bagcart" style="color:white">@ViewBag.AmountCart</span>
