
@{
    ViewBag.Title = "_Footer_not_every_thing";
}

<div id="footer-cate">
    <div id="footer-info-more" class="border-red">
        <div class="footer-info-more all">
            <div class="flex-footer-info-more mb-3">
                <div class="take-care-cus-all">
                    <div class="header-take-care-all">
                        CHĂM SÓC KHÁCH HÀNG
                    </div>
                    <ul class="list-take-care-cus-all">
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Trung
                                    Tâm Trợ Giúp
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Shopee
                                    Blog
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Shopee
                                    Mall
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Hướng
                                    Dẫn Mua Hàng
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Hướng
                                    Dẫn Bán Hàng
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Thanh
                                    Toán
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Shopee
                                    Xu
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Vận
                                    Chuyển
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Trả
                                    Hàng & Hoàn Tiền
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Chăm
                                    Sóc Khách Hàng
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Chính
                                    Sách Bảo Hành
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="take-care-cus-all">
                    <div class="header-take-care-all">
                        VỀ SHOPEE
                    </div>
                    <ul class="list-take-care-cus-all">
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Giới
                                    Thiệu Về Shopee Việt Nam
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Tuyển
                                    Dụng
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Điều
                                    Khoản Shopee
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Chính
                                    Sách Bảo Mật
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Chính
                                    Hãng
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Kênh
                                    Người Bán
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Flash
                                    Sales
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Chương
                                    Trình Tiếp Thị Liên Kết
                                </span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all">
                            <a href="" class="link-take-care-cus-all">
                                <span class="span-take-care-cus-all">
                                    Liên Hệ
                                    Với Truyền Thông
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="take-care-cus-all">
                    <div class="header-take-care-all">
                        THANH TOÁN
                    </div>
                    <ul class="list-take-care-cus-all cb">
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/a0a9062ebe19b45c1ae0506f16af5c16"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/38fd98e55806c3b2e4535c4e4a6c4c08"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/bc2a874caeee705449c164be385b796c"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/5e3f0bee86058637ff23cfdf2e14ca09"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/9263fa8c83628f5deff55e2a90758b06"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/0217f1d345587aa0a300e69e2195c492"
                                     alt="logo">
                            </a>
                        </li>

                    </ul>
                    <div class="header-take-care-all">
                        ĐƠN VỊ VẬN CHUYỂN
                    </div>
                    <ul class="list-take-care-cus-all cb">
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/5e7282bd0f7ee0872fdb0bd1d40fbe9e"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/d10b0ec09f0322f9201a4f3daf378ed2"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/77bf96a871418fbc21cc63dd39fb5f15"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/59270fb2f3fbb7cbc92fca3877edde3f"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/957f4eec32b963115f952835c779cd2c"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/0d349e22ca8d4337d11c9b134cf9fe63"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/3900aefbf52b1c180ba66e5ec91190e5"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/6e3be504f08f88a15a28a9a447d94d3d"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/b8348201b4611fc3315b82765d35fc63"
                                     alt="logo">
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all
                              size_icon_payment">
                            <a href="" class="link-take-care-cus-all">
                                <img src="https://down-vn.img.susercontent.com/file/0b3014da32de48c03340a4e4154328f6"
                                     alt="logo">
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="take-care-cuss-all">
                    <div class="header-take-care-all">
                        THEO DÕI CHÚNG TÔI TRÊN
                    </div>
                    <ul class="list-take-care-cus-all">
                        <li class="detail-take-care-cus-all d-flex">
                            <a href="" class="link-take-care-cus-all">
                                <img class="follow-app"
                                     src="https://down-vn.img.susercontent.com/file/2277b37437aa470fd1c71127c6ff8eb5"
                                     alt="">
                                <span class="name-app">Facebook</span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all d-flex">
                            <a href="" class="link-take-care-cus-all">
                                <img class="follow-app"
                                     src="https://down-vn.img.susercontent.com/file/5973ebbc642ceee80a504a81203bfb91">
                                <span class="name-app">Instagram</span>
                            </a>
                        </li>
                        <li class="detail-take-care-cus-all d-flex">
                            <a href="" class="link-take-care-cus-all">
                                <img class="follow-app"
                                     src="https://down-vn.img.susercontent.com/file/f4f86f1119712b553992a75493065d9a">
                                <span class="name-app">LinkedIn</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="take-care-cuss-all">
                    <div class="header-take-care-all">
                        TẢI ỨNG DỤNG SHOPEE NGAY THÔI
                    </div>
                    <div class="qr-app">
                        <div class="qr">
                            <a href="">
                                <img src="https://down-vn.img.susercontent.com/file/a5e589e8e118e937dc660f224b9a1472"
                                     alt="download_qr_code" class="ebQ6br">
                            </a>
                        </div>
                        <div class="app">
                            <a href="">
                                <img src="https://down-vn.img.susercontent.com/file/ad01628e90ddf248076685f73497c163"
                                     alt="app">
                            </a>
                            <a href="">
                                <img src="https://down-vn.img.susercontent.com/file/ae7dced05f7243d0f3171f786e123def"
                                     alt="app">
                                <a href="">
                                    <img src="https://down-vn.img.susercontent.com/file/35352374f39bdd03b25e7b83542b2cb0"
                                         alt="app">
                                </a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="test"></div>
            <div class="footer-license d-fl ptb-3">
                <div class="license-2023-shoppe mr-7">
                    © 2023 Shopee. Tất cả các quyền được bảo lưu.
                </div>
                <div class="license-nation">
                    Quốc gia & Khu vực :
                    Singapore
                    |
                    Indonesia
                    |
                    Đài Loan
                    |
                    Thái Lan
                    |
                    Malaysia
                    |
                    Việt Nam
                    |
                    Philippines
                    |
                    Brazil
                    |
                    México
                    |
                    Colombia

                </div>
            </div>

        </div>

    </div>
    <div id="footer-policy">
        <div class="content-policy">

            <div class="policy">
                <div class="policy-private">
                    <a href=""><span>Chính sách bảo mật</span></a> <span>|</span>
                </div>
                <div class="policy-private">
                    <a href=""><span>Chính sách bảo mật</span></a> <span>|</spa>
                </div>
                <div class="policy-private">
                    <a href=""><span>Chính sách bảo mật</span></a> <span>|</span>
                </div>
                <div class="policy-private">
                    <a href=""><span>Chính sách bảo mật</span></a>
                </div>




            </div>
            <div class="registered">
                <a target="_blank" rel="noopener noreferrer"
                   href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=18375"
                   class="_44TnCg">
                    <div class="footer-vn-background
                          footer-vn-vn_registered_red-png jeaJPZ"></div>
                </a><a target="_blank" rel="noopener noreferrer"
                       href="http://online.gov.vn/HomePage/AppDisplay.aspx?DocId=29"
                       class="_44TnCg">
                    <div class="footer-vn-background
                          footer-vn-vn_registered_red-png jeaJPZ"></div>
                </a><a target="_blank" rel="noopener noreferrer"
                       href="https://shopee.vn/docs/170" class="_44TnCg">
                    <div class="footer-vn-background
                          footer-vn-vn_no_fake_item-png b1v1Th"></div>
                </a>
            </div>
        </div>
        <div class="company-shoppe mr-company">
            Công ty TNHH Shopee
        </div>
        <div class="company-shoppe">
            Địa chỉ: Tầng 4-5-6, Tòa nhà Capital
            Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình,
            Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email:
            cskh@hotro.shopee.vn
        </div>
        <div class="company-shoppe">
            Chịu Trách Nhiệm Quản Lý Nội Dung:
            Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)
        </div>
        <div class="company-shoppe">
            Mã số doanh nghiệp: 0106773786 do Sở Kế
            hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015
        </div>
        <div class="company-shoppe">
            © 2015 - Bản quyền thuộc về Công ty TNHH
            Shopee
        </div>
    </div>

</div>

